
#clockdiv{ 
    width: 100%;
    font-family: sans-serif; 
    color: #fff; 
    display: inline-block; 
    font-weight: bolder; 
    text-align: center; 
    font-size: 40px; 
} 

#clockdiv > div{ 
    padding: 20px; 
    border-radius: 3px; 
    background: #850353; 
    display: inline-block; 
} 
#clockdiv div > span{ 
    padding: 50px; 
    border-radius: 3px; 
    background: #c4088b; 
    display: inline-block; 
} 
.smalltext{ 
    padding-top: 10px; 
    font-size: 20px; 
} 


.prizess{
    width: 100%;
}